<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet"  href="./tela1.component.css">
    <title>Document</title>
</head>
<body>
    <div class="component">
        <div id="component2" [ngClass]="{'transition1': togglar , 'tranisition2' : !togglar}">
            <div>
                <div>
                    <label class="label">p</label>
                </div>
                
                <div>
                    <input id="input1" placeholder="Digite 0 ou 1"  [(ngModel)]="var1">
                </div>
               
             
            </div>
            
           

            <div>
                <div>
                    <label class="label">q</label>
                </div>
                <div>
                    <input id="input1" placeholder="Digite 0 ou 1" [(ngModel)]="var2">
                </div>  
                
               
             
            </div>
            <div>
                <div>
                    <label class="label">p ∧ q</label>
                </div>
                <div>
                    <input id="input1" [placeholder]="resultado" disabled>
                </div>
                <div>
                    <button type="button" class="btn btn-info bt" (click)="conjuncao()">Confirmar</button>
    
                </div>
             
              
             
            </div>
            
            
            
            
            
        </div>
        <button type="button" class="btn btn-success" (click)="apertar()">Success</button>

    </div>
    
</body>
</html>