<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet"  href="./tela1.component.css">
    <title>Document</title>
</head>
<body>
    <div class="component">
        <div id="component2" [ngClass]="{'transition1': togglar , 'tranisition2' : !togglar}">
            <div>
                <input id="input1" placeholder="Digite qualquer coisa">
                <input id="input1" placeholder="Digite qualquer coisa">
                <input id="input1" placeholder="Digite qualquer coisa">
                <input id="input1" placeholder="Digite qualquer coisa">
            </div>
            
            
        </div>
        <button type="button" class="btn btn-success" (click)="apertar()">Success</button>

    </div>
    
</body>
</html>