.component{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 101, 101);
    display: flex;

}

#component2{


    border-radius: 10px;
    height: 400px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(4, 158, 197);
    position: fixed;
    top: 100%;
    

}

.transition1{
    transform: translateY(-700px);
    transition: 1s ease;
}

.transition2{
    transform: translateY(700px);
    transition: 0.4 ease;
}

.label{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(125, 195, 252);


    text-align: center;
}

#input1{
    height:auto; 
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: white;
}
.bt{
    margin-top: 20px;
    margin-left: 10px;
    position: fixed;
    

    
}

